.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .main {
    display: grid;
    grid-row-gap: 40px;
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
  }
}
